"fileTypes": [
    'feature',
    'robot'
]
"name": 'Gherkin'
"patterns": [
    {
        "match": '#(.*)$'
        "name": 'comment.line.gherkin'
    }
    {
        "match": '^\\.\\.\\.(.*)$'
        "name": 'comment.line.gherkin'
    }
    {
        "match": '(^\\*\\*\\*.*?\\*\\*\\*)|((?<=^\\|)\\s+\\*\\*\\*.*?\\*\\*\\*)'
        "name": 'support.class.gherkin'
    }
    {
        "match": '(\\$\\{.*?\\})|(@\\{.*?\\})'
        "name": 'string.single.qoute.gherkin'
    }
    {
        "match": '\\s*(Scenario\\:|Feature\\:|Scenario Outline\\:|Background\\:|Examples\\:)'
        "name": 'keyword.gherkin'
    }
    {
        "match": '\\s*(Given|Then|When|And|But)'
        "name": 'support.class.gherkin'
    }
    {
        "match": '(?<=\\s|^)(@[A-Za-z0-9_\\-]+)'
        "name": 'entity.name.function.decorator.gherkin'
    }
    {
        "begin": '(^[^ \\t\\*\\n\\|]+)|((?<=^\\|)\\s+[^ \\t\\*\\n\\|]+)'
        "end": '\\s{2}|\\t|$|\\s+(?=\\|)'
        "name": 'keyword.gherkin'
    }
    {
        "match": '\\s(\\d*)\\s'
        "name": 'entity.name.function.decorator.gherkin'
    }
    {
        "match": '(\\<\\w+\\>)'
        "name": 'constant.character.escape.feature'
    }
    {
        "match": "(\\s\\'.*?[^\\']\\'\\s)"
        "name": 'string.single.qoute.gherkin'
    }
    {
        "match": '(\\s\\".*?[^\\"]\\"\\s)'
        "name": 'string.double.qoute.gherkin'
    }
    {
        "match": "\\[(\\'.*?[^\\']\\')\\]"
        "name": 'constant.character.escape.feature'
    }
    {
        "match": '(\\[[^]]*\\])'
        "name": 'constant.numeric.gherkin'
    }
    {
        "match": '\\|\\s(.*)\\s\\|'
        "name": 'constant.numeric.gherkin'
    }
]
"scopeName": 'source.feature'
